/***************************************************************
++++++++            Itemcard start                    +++++++++
***************************************************************/
.item-card {
  padding: 10px;
  height: 300px;
}
.item-card:hover .hover-text-shadow {
  text-shadow: -1.06066px 1.06066px 0 #f6f6f6, -2.12132px 2.12132px 0 #f6f6f6, -3.18198px 3.18198px 0 #f7f7f7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item-card:hover .hover-grayscale-min{
  -webkit-filter: grayscale(25%);
  filter: grayscale(25%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.border {
  border: 4px solid lightgrey;
}

.title-image-cover
{
    margin:0;
    width: 100%;
    height: 40%;
    overflow: hidden;
    border: none;
    position: relative;
}
.title-image {
  width: 100%;
  height: auto;
  top:50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  position: relative;
}

.subject-title {
  text-align: left;
  padding: 10px 0 0 10px;
}

.item-des {
  text-align: left;
  padding: 10px;
  font-size: 1.25em;
  color: #828282;
}
.ivu-url {
  text-decoration: none;
  color: #828282;
  font-size: 0.85em;
}
/* Itemcard end*/



/***************************************************************
++++++++            timeline index page start           ++++++++
***************************************************************/
.index-logo {
    width: 100%;
    height: 120px;
    border: 1px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    display: inline-block;
    /*background-color: black;*/
    overflow: auto;
    margin-top: 10px;
}

.index-search {
    position: relative;
}

.ivu-inputbox {
  display: inline-block;
  width: 20%;
  height: 32px;
  line-height: 1.5;
  padding: 4px 7px;
  font-size: 12px;
  border: 1px solid #dddee1;
  border-radius: 4px;
  color: #495060;
  background-color: #fff;
  background-image: none;
  position: relative;
  cursor: text;
  transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
}
/* timeline index page end */



/***************************************************************
++++++++            subject page start                  ++++++++
***************************************************************/
.subject-detail {
  float: left;
  font-size: 16px;
}
/* subject page end */



/***************************************************************
++++++++            login page start                    +++++++++
***************************************************************/
.login-form-container {
  display: inline-block;
  margin: 120px 0;
}
